#jumbotron {
  clear : both;
  min-height: 100%;
  width: 100%;
  margin-left: 50px;
  margin-top:60px;
  margin-bottom: 20px;
  position: relative;
}

.about {
width:60%;
clear:both;
line-height: 20px;
background-color: #ffffff;
float:left;
font-family: 'Bree Serif', serif;
font-size: 18px;
line-height: 1.5;
}
.class h2{
  width:100%;
  font-size: 30px;
  padding:20px;
  margin:20px;
  border-bottom: 1px solid hsla(169, 16%, 69%, 1);
}
.img {
  float: left;
}

.img {
  margin: 20px;
}
