body{
  align-content: center;
}
header {
  margin:10px;
  width:100%;
  min-height:120px;
  text-align: center;
  background-color: hsla(64, 0%, 39%, 1);
  color:hsla(329, 26%, 0%, 1);
  border: 10px solid #003366;
  padding:20px;
}
a {
  color:hsla(329, 26%, 0%, 1);
   text-decoration: underline;
}
.container {
  margin:10px 10px 10 50px;
  padding:10px;
}
p {
  font-size: 18px;
}
button {
   padding:20px;
   margin:20px;
}
